#### Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [ ]:
# Criar uma lista de números de 1 a 10
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Usar um loop para imprimir cada número
for numero in numeros:
    print(numero)

#### Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [ ]:
#criando a lista
lista = ['acucar','cafe','sal','Margarina','ovo']

In [ ]:
print (lista)

In [ ]:
lista [2]= 'nescau'

In [ ]:
print (lista)

In [ ]:
#excluindo um item da lista
del lista [2]

In [ ]:
print (lista)

In [ ]:
lista [2] = 'Sal'

In [ ]:
print(lista)

In [ ]:
#adicionando um item à mais na lista 
lista.append('nescau')

In [ ]:
print(lista)

### Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [ ]:
str1 = 'Criando uma frase '

In [ ]:
print(str1)

In [ ]:
str2 = 'Para somar com outra frase'

In [ ]:
print(str2)

In [ ]:
str3 = str1 + str2

In [ ]:
print(str3)

### Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
#### objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [ ]:
tupla1 = (1, 2, 2, 3, 4, 4, 4, 5)

In [ ]:
print(tupla1)

In [ ]:
valor = tupla1.count (4)

In [ ]:
print('O numero 4 aparece',valor, 'vezes !')

###  Exercício 5 - Crie um dicionário vazio e imprima na tela

In [ ]:
dic1 = {}

In [ ]:
print = (dic1)

### Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [ ]:
meu_dicionario = {'k1':'Bruna', 'k2':'Olivia', 'k3':'Sara'}

In [ ]:
print(meu_dicionario)

### Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [ ]:
meu_dicionario ['k4'] = 'Arnaldo'

In [ ]:
print(meu_dicionario)

In [ ]:
meu_dicionario ['k5'] = 'Ida'

In [ ]:
print(meu_dicionario)

## Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
### Um dos valores deve ser uma lista de 2 elementos numéricos. 
### Imprima o dicionário na tela.

In [ ]:
meu_dicionario1 = {'k1':'Bruna', 'K2':'Arnaldo', 'k3':[1,2]}

In [ ]:
print(meu_dicionario1)

## Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
### o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
### o quarto elemento um valor do tipo float.
### Imprima a lista.

In [ ]:
list2 = ['string', ('1','2'), {'k6':'sara','k7':'olivia'} ,'1,25']

In [ ]:
print(list2)

### Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [ ]:
str = ('Cientista de Dados é o profissional mais sexy do século XXI')

In [ ]:
str [1:]